

.heroRow{
    justify-content: space-evenly;
    width: 80%;
    transform: translateY(-50%);
    margin: auto;
    background-color: white;
}


.heroHeading{
    font-size: small;
    font-weight: bold;
}

.discoverButton{
    font-size: small;
    text-decoration: none;
    color: black;
}

.heroHeadingDiv{
    width: 100%;
    height: 100%;
    grid-area: inner-div;
    display: flex;
    align-items: center;
}

.heroImageDiv{
    width: 100%;
    height: 100%;
    grid-area: inner-div;
}
.heroImageDiv img{
    max-width: 100%;
    height: auto;
}
.heroSection{
    display: grid;
    grid-template-areas: "inner-div";
    padding-block: 1.2rem;
}

.heroHeadingInnerDiv {
    max-width: 50%;
    padding: 1rem;
}

/* .container.row.gap-2.heroRow{
    transform: translateY(-50%);
} */

@media (max-width: 767px) {

    .heroRow{
        transform: translateY(-5%);
        max-width: 55%;
    }
    .heroHeadingInnerDiv {
        max-width: 50%;
        padding: 4%;
        font-size: 9px;
    }
    .heroHeadingInnerDiv a{
        font-size: 8px;
    }
    .heroHeading{
        font-size: 9px;

    }

   
  }
  