.bg-image {
    background-image: url(); /* Replace 'your-image.jpg' with your image file */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .overlay {
    background-color: rgba(0, 0, 0, 0.6); /* Adjust the opacity as needed */
    padding: 20px;
    border-radius: 10px;
  }