.blogHeading {
    font-size: larger;
    font-weight: 600;
}

.blogSubHeading {
    color: gray;
    font-size: small;
}

.blogName{
    color: burlywood;
}

.blogContent{
    color: gray;
    font-size: small;
    width: 300px;
}

.blogContainer{
    max-width: 80%;
}