.subcolumn {
    background-color: aqua;
    height: 200px;
}

.bannerNameBox .carousel-item img {
    max-width: 100% !important;
    height: auto;
}

.bannerNameBox {
    padding: 0;
}

element.style {
    border-radius: 50%;
}

.carousel-indicators>[data-bs-target] {
    height: 10px !important;
    width: 10px !important;
    clip-path: circle(20%);
}

.carousel-caption {
    position: absolute;
    top: 40%;
    left: 15%;
    color: black;
    text-align: left;
}

.carousel-indicators {
    bottom: 20%;
}

.carousel-indicators>[data-bs-target].active {
    outline: 0.5px solid black;
}

.bannerHeading {
    max-width: 22%;
}

.bannerSubHeading {
    max-width: 30%;
}